// ARTICLE VIEW

.gallery {

  &_content {
    margin-left: -106px;
  }

  &_big_item {
    width: 100%;

    img {
      width: 100%;
    }
  }

  &_small {

    &_item {
      width: calc(33.333% - 12px);
      margin-right: 18px;
      margin-bottom: 17px;
      
      img {
        width: 100%;
      }
    }
  }

  &_description {
    margin-right: -180px;
  }
}

.section_text {

  .accent {
    margin-left: -106px;
    width: 340px;
    padding-right: 48px;
  }
}

// ARTICLE VIEW END
