header
  .section_wrapper
    .left_content
      .logo
        a(href="javascrip:void(0)")
          img(src="assets/images/logo.png", alt="")


    .main_content
      .menu_holder
        .menu_btn
          span
          span
          span
        span menu
      .navigation
        ul
          li.active
            a(href="articles.html")
              | Articles 
              span
              | & Issues
          li
            a(href="about.html")
              | About the 
              span
              | Journal
          li
            a(href="board.html")
              | Editorial 
              span
              | Board
          li
            a(href="article_submit.html")
              | Submit 
              span
              | an Article
          li
            a(href="subscribe.html")
              | subscribe 
              span
              | and access
          li
            a(href="contact_us.html")
              | Contact 
              span
              | Us

    .user_block
      button.sign_button Sign in