script(src="vendor/js/jquery-1.11.3.min.js")
script(src="vendor/js/slick.min.js")
script(src="vendor/js/select2.min.js")
script(src="vendor/js/jquery.fancybox.min.js")
script(src="assets/js/main.js")
