.form_item {

  label {
    text-transform: uppercase;
    font-size: 10px;
    line-height: 14px;
    letter-spacing: .25px;
    font-weight: bold;
    display: block;
    margin-bottom: 12px;
  }

  i {
    font-style: normal;
    color: #666666;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 18px;
    padding-top: 5px;
  }

  textarea {
    padding: 13px;
    height: 142px;
    line-height: 20px;
    font-size: 14px;
    font-family: 'Roboto';
    border: 1px solid #bbbdbf;
    width: 100%;
    resize: none;
    outline: none;
    
    &:focus {
      border-color: $color-hover;
    }
  }
  
  input {
    padding: 0 13px;
    height: 45px;
    line-height: 45px;
    font-size: 14px;
    font-family: 'Roboto';
    border: 1px solid #bbbdbf;
    width: 100%;
    outline: none;

    &:focus {
      border-color: $color-hover;
    }
  }

  .error_text {
    color: $color-error;
    font-size: 12px;
    line-height: 18px;
    padding-top: 9px;
    display: block;
  }

  &_error {

    input,
    textarea {
      border-color: $color-error;
    }
  }
}

input[type="checkbox"] {
  width: 18px;
  height: 18px;
  border: 1px solid #bbbdbf;
  position: relative;
  cursor: pointer;
  display: inline-block;
  vertical-align: middle;
  padding: 0;

  + label {
    cursor: pointer;
    padding-left: 3px;;
  }

  &:hover {
    border-color: $color-hover;
  }

  &:checked {

    &:before {
      position: absolute;
      content: '';
      width: 8px;
      height: 8px;
      left: calc(50% - 4px);
      top: calc(50% - 4px);
      background-color: $color-hover;
    }

    &:hover {
      border-color: #bbbdbf;
    }
  }
}
