.select2-container {
  box-sizing: border-box;
  display: inline-block;
  margin: 0;
  position: relative;
  vertical-align: middle;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  .select2-selection--multiple,
  .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 45px;
    user-select: none;
    -webkit-user-select: none;
    outline: none;
    .select2-selection__rendered {
      display: block;
      padding-left: 0;
      padding-right: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .select2-selection__clear {
      position: relative;
    }
  }
  &[dir="rtl"] .select2-selection--single .select2-selection__rendered {
    padding-right: 8px;
    padding-left: 20px;
  }
  .select2-search--inline {
    float: left;
    .select2-search__field {
      box-sizing: border-box;
      border: none;
      font-size: 100%;
      margin-top: 5px;
      padding: 0;
      &::-webkit-search-cancel-button {
        -webkit-appearance: none;
      }
    }
  }
}

.select2-dropdown {
  background-color: white;
  border: 1px solid #bbbdbf;
  box-sizing: border-box;
  display: block;
  position: absolute;
  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;
  font-size: 14px;
  padding: 10px 30px 0 13px;
  font-family: 'Roboto';
  font-weight: normal;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 4px 0 4px 27px;
  margin-bottom: 4px;
  user-select: none;
  -webkit-user-select: none;
  position: relative;

  &:hover {
    color: $color-hover;
  }

  &:before,
  &:after {
    position: absolute;
    content: '';
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

  &:before {
    width: 18px;
    height: 18px;
    border: 1px solid #bbbdbf;
    left: 0;
    top: calc(50% - 9px);
  }

  &[aria-selected] {
    cursor: pointer;
  }

  &[aria-selected="true"] {
    color: $color-hover;

    &:after {
      width: 8px;
      height: 8px;
      background-color: $color-hover;
      left: 5px;
      top: calc(50% - 4px);
    }
  }
}

.select2-container--open {

  &.select2-container--default {

    .select2-selection--multiple,
    .select2-selection--single {
      border-color: $color-hover;
    }
  }

  .select2-dropdown {
    left: 0;
    border-color: $color-hover;
  }
  .select2-dropdown--above {
    border-bottom: none;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  .select2-dropdown--below {
    border-top: none;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}

.select2-search--dropdown {
  display: block;
  padding: 4px;
  .select2-search__field {
    padding: 4px;
    width: 100%;
    box-sizing: border-box;
    &::-webkit-search-cancel-button {
      -webkit-appearance: none;
    }
  }
  &.select2-search--hide {
    display: none;
  }
}

.select2-close-mask {
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: auto;
  width: auto;
  opacity: 0;
  z-index: 99;
  background-color: #fff;
  filter: alpha(opacity = 0);
}

.select2-container--default {
  .select2-selection--multiple,
  .select2-selection--single {
    background-color: #fff;
    border: 1px solid #bbbdbf;
    .select2-selection__rendered {
      color: #000;
      line-height: 43px;
      font-size: 14px;
      font-family: 'Roboto';
      font-weight: normal;
      padding-left: 13px;
    }
    .select2-selection__clear {
      cursor: pointer;
      float: right;
      font-weight: bold;
    }
    .select2-selection__placeholder {
      color: #999;
    }
    .select2-selection__arrow {
      height: 100%;
      position: absolute;
      top: 1px;
      right: 1px;
      width: 36px;
      text-align: center;

      &:before {
        display: block;
        height: 100%;
        content: 'F';
        font-size: 10px;
        font-family: 'ms-journal';
        color: #000;
        line-height: 43px;
      }
    }
  }
  &[dir="rtl"] .select2-selection--single {
    .select2-selection__clear {
      float: left;
    }
    .select2-selection__arrow {
      left: 1px;
      right: auto;
    }
  }
  &.select2-container--disabled .select2-selection--single {
    background-color: #eee;
    cursor: default;
    .select2-selection__clear {
      display: none;
    }
  }
  &.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: transparent transparent #888 transparent;
  }
  &.select2-container--disabled {
    .select2-selection--multiple {
      background-color: #eee;
      cursor: default;
    }
    .select2-selection__choice__remove {
      display: none;
    }
  }
  &.select2-container--open {
    &.select2-container--above {
      .select2-selection--single, .select2-selection--multiple {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
      }
    }
    &.select2-container--below {
      .select2-selection--single, .select2-selection--multiple {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
      }
    }
  }
  .select2-search--dropdown .select2-search__field {
    border: 1px solid #aaa;
  }
  .select2-search--inline .select2-search__field {
    background: transparent;
    border: none;
    outline: 0;
    box-shadow: none;
    -webkit-appearance: textfield;
  }
  .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
  }
  .select2-results__option {
    &[role=group] {
      padding: 0;
    }
    &[aria-disabled=true] {
      color: #999;
    }
    &[aria-selected=true] {
    }
    .select2-results__option {
      padding-left: 1em;
      .select2-results__group {
        padding-left: 0;
      }
      .select2-results__option {
        margin-left: -1em;
        padding-left: 2em;
        .select2-results__option {
          margin-left: -2em;
          padding-left: 3em;
          .select2-results__option {
            margin-left: -3em;
            padding-left: 4em;
            .select2-results__option {
              margin-left: -4em;
              padding-left: 5em;
              .select2-results__option {
                margin-left: -5em;
                padding-left: 6em;
              }
            }
          }
        }
      }
    }
  }
  .select2-results__group {
    cursor: default;
    display: block;
    padding: 6px;
  }
}

.select2-selection--multiple {
  position: relative;
  
  &:before {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    text-align: center;
    display: block;
    height: 100%;
    content: 'F';
    font-size: 10px;
    font-family: 'ms-journal';
    color: #000;
    line-height: 43px;
  }

  .select2-selection__rendered {
    list-style: none;
    text-align: left;

    .select2-selection__choice__remove {
      display: none;
    }

    li {
      display: inline-block;
      vertical-align: top;
      padding-right: 3px;

      ~ li {

        &:before {
          content: ',';
          display: inline-block;
          margin-left: -3px;
          margin-right: 3px;
        }
      }

      &.select2-search {
        display: none;
        height: 0;
        line-height: 0;
            
        &:before {
          display: none;
        }
      }
    }
  }
}


.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}
