.articles_top {
  padding-top: 72px;
  align-items: flex-end;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  line-height: 14px;

  .top_bar {
    flex-wrap: wrap;

  }
  
  .left_content {

    span {
      text-transform: none;
      font-weight: normal;
      font-family: 'Roboto';
    }
  }
}

.articles {

  .left_content {
    position: relative;
  }
}

.more {
  font-size: 14px;
  text-decoration: underline;
  color: $color-hover;
  font-family: 'Roboto';
  text-transform: none;
}

.access {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 8px;
  color: $color-main;
  padding-left: 15px;
  position: relative;
  margin-left: 1px;

  &:before {
    content: '';
    position: absolute;
    display: block;
    width: 7px;
    height: 7px;
    left: 2px;
    top: calc(50% - 4px);
    @include border-radius(50%);
  }

  &.opened {

    &:before {
      background-color: #339933;
    }
  }

  &.closed {

    &:before {
      background-color: #993333;
    }
  }
  
  span {
    text-decoration: underline;
  }
}

.download {
  color: $color-main;
  display: inline-block;
  vertical-align: top;

  .icon {
    margin-right: 5px;
  }

  &:hover {
    color: $color-hover;
  }
}
  
.journals {

  &_item {

    span {
      font-size: 12px;
      line-height: 15px;
    }

    p {
      font-size: 24px;
      line-height: 26px;
      margin-top: 3px;
      font-family: 'Lora';

      span {
        font-size: 0;
        line-height: 0;
        color: transparent;
        display: block;
      }
    }

    .image {
      margin-top: 25px;
    }

    .button {
      width: 85px;
      font-size: 10px;
      margin-top: 25px;
    }
  }

  &_arrows {
    position: absolute;
    top: -119px;
    left: 0;

    .slick {

      &-arrow {
        background: none;
        color: transparent;
        font-size: 0;
        line-height: 0;
        border: none;
        display: inline-block;
        vertical-align: top;

        &:hover {

          &:before {
            color: $color-hover;;
          }
        }
  
        &:before {
          width: 14px;
          height: 15px;
          line-height: 15px;
          content: 'D';
          font-family: 'ms-journal';
          font-size: 14px;
          color: $color-main;
          display: block;
        }
      }

      &-prev {
        margin-right: 26px;
      }

      &-next {
        @include transform(rotate(180deg));
      }
    }
  }
}

.issues {

  &_sort {
    margin-right: auto;

    em {
      font-style: normal;
      padding: 0 2px;
    }

    a {

      &:hover,
      &.active {
        color: $color-hover;
      }
    }
  }

  &_drop {
    display: inline-block;
    vertical-align: top;
    margin-left: 52px;
    cursor: pointer;

    span {

      .icon {
        padding-left: 8px;
      }
    }
    
    ul {
      display: none;

      li {
        list-style: none;
      }
    }
  }
}

.search {

  &_result {
    max-width: $grid-column;
    position: relative;

    > span {
      position: absolute;
      top: -119px;
      left: 0;
      font-size: 12px;
      text-transform: none;
      font-weight: normal;
      font-family: 'Roboto';
    }

    p {
      font-family: 'Lora';
      font-size: 24px;
      line-height: 28px;
      margin-bottom: 20px;
    }

    a {
      font-size: 10px;
      font-weight: bold;
      line-height: 16px;
      color: $color-main;
      text-transform: uppercase;

      &:hover {
        color: $color-hover;
      }

      .icon {
        padding-left: 7px;

        &:before {
          display: block;
          @include transform(rotate(180deg));
        }
      }
    }
  }

  span {
    display: inline-block;
    vertical-align: middle;

    em {
      padding: 0 2px;
    }
  }

  .icon {
    padding-left: 13px;
  }
}

.article {

  &_item {
    display: flex;
    margin-bottom: 53px;
    font-family: 'Roboto';
    min-height: 125px;

    &:first-child {
      margin-top: 4px;
    }

    &.with_video {

      .photo {

        &:before {
          position: absolute;
          content: '';
          display: block;
          width: 20px;
          height: 18px;
          top: 0;
          left: 0;
          background: url(../images/video_icon.svg) no-repeat;
        }
      }
    }

    .photo {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      position: relative;
      width: $grid-column;
      height: 115px;
      margin-right: $grid-gap-value;
      background-size: cover;
      background-position: center;
    }
  }

  &_description {
    width: $grid-column * 4 + $grid-gap-value * 3;
    margin-right: $grid-gap-value;

    span {
      font-size: 12px;
      line-height: 14px;
      color: $color-hover;
      display: block;
      margin-bottom: 10px;
      letter-spacing: .7px;
    }

    a {
      font-family: 'Lora';
      color: $color-main;
      font-size: 18px;
      line-height: 21px;

      &:hover {
        color: $color-hover;
      }
    }

    .author {
      font-size: 14px;
      line-height: 18px;
      margin-top: 10px;
    }
  }
  
  &_info {
    width: $grid-column;
    font-size: 14px;
    line-height: 18px;

    p {
      letter-spacing: .25px;
      margin-bottom: 8px;
    }
  }
}

// SEARCH FORM

.search_block {
  padding-right: $grid-column * .5;
  padding-left: $grid-column * .5;
  padding-top: 40px;
  padding-bottom: 36px;
  border: 1px solid #bbbdbf;
  width: 100%;
  margin-bottom: -1px;
  margin-top: 50px;
  position: relative;
  // display: none;
}

.search_close {
  position: absolute;
  right: 17px;
  top: 19px;
  cursor: pointer;
}

.search_field {
  border-bottom: 1px solid #bbbdbf;
  padding-bottom: 32px;
  margin-bottom: 30px;

  .form_item {
    margin-right: 11px;
    display: inline-block;
    vertical-align: top;

    .select2-container {
      max-width: 122px;
      min-width: 122px;
    }

    &:last-child {
      margin-right: 0;
    }

    input {
      width: 263px;
    }
  }

  &_row {
    margin-bottom: 23px;
    display: flex;

    &:last-child {
      margin-bottom: 0;
    }
  }
  
  &_title {
    letter-spacing: .25px;
    margin-bottom: 28px;
    display: flex;
    width: 100%;

    span {
      text-transform: uppercase;
      font-size: 10px;
      line-height: 14px;
      font-weight: bold;
    }
    
    .more {
      margin-left: auto;
    }
  }
}

.search_item {
  width: 25%;
  
  label {
    letter-spacing: .25px;
    font-family: 'Roboto';
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    text-transform: none;
    margin-left: 8px;
    cursor: pointer;
  }
}

.search_control {
  display: flex;
  align-items: center;

  > span {
    color: #666666;
    font-size: 12px;
    line-height: 16px;
    text-transform: none;
    font-weight: normal;

    sup {
      padding-right: 4px;
    }
  }

  .button {
    height: 44px;
    line-height: 44px;
    width: 113px;
    margin-left: auto;

    &:hover {

      .icon {
        color: inherit;
      }
    }
  }
}
// SEARCH FORM END


// ARCHIVE

.archive {

  &_wrapper {
    margin-bottom: 60px;
  }

  &_block {
    display: flex;
    flex-wrap: wrap;
  }

  &_info {
    margin-top: 24px;

    .date {
      color: $color-hover;
      font-size: 12px;
      line-height: 14px;
    }

    p {
      font-family: 'Lora';
      font-size: 18px;
      line-height: 22px;
      margin: 11px 0 16px;
    }

    a {
      display: inline-block;
      color: $color-main;

      .icon {
        padding-right: 10px;
      }

      &:hover {
        color: $color-hover;
      }
    }

    .download {
      margin-bottom: 9px;
    }
  }

  &_item {
    width: calc(25% - 12px);
    margin-right: 16px;
    font-family: 'Roboto';

    .image {

      img {
        width: 100%;
      }
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}

.year {
  
  span {
    font-size: 24px;
    line-height: 28px;
    font-family: 'Lora';
  }

  p {
    font-size: 10px;
    line-height: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }
}
// ARCHIVE END

// ARTICLE VIEW

.article_view {
  padding-top: 72px;

  .section_text {
    
    p {
      margin-bottom: 0;
    }
  }
}
 
.volume {

  &_item {

    p {
      font-size: 14px;
      line-height: 18px;
      margin-bottom: 5px;
      font-family: 'Roboto';
    }

    .access {
      display: block;

      span {
        text-decoration: none;
      }
    }
  }

  &_arrows {
    margin-bottom: 55px;
    border-bottom: 1px solid #bbbdbf;
    min-height: 65px;
    width: $grid-gap-value + $grid-column;

    .slick {

      &-arrow {
        background: none;
        color: transparent;
        font-size: 0;
        line-height: 0;
        border: none;
        display: inline-block;
        vertical-align: top;

        &:hover {

          &:before {
            color: $color-hover;;
          }
        }
  
        &:before {
          width: 14px;
          height: 15px;
          line-height: 15px;
          content: 'D';
          font-family: 'ms-journal';
          font-size: 14px;
          color: $color-main;
          display: block;
        }
      }

      &-prev {
        margin-right: 26px;
      }

      &-next {
        @include transform(rotate(180deg));
      }
    }
  }
}

.text_title {
  margin-bottom: 50px;

  > span {
    font-size: 12px;
    line-height: 14px;
    font-family: 'Roboto';
    color: $color-hover;
    display: block;
    margin-bottom: 12px;
  }
  
  h2 {
    font-family: 'Lora';
    font-size: 28px;
    line-height: 39px;
    margin: 0 0 15px;
  }
  
  .author {
    
    span {
      font-size: 14px;
      line-height: 16px;
      font-family: 'Roboto';
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      font-family: 'Roboto';
    }
  }
}

.recent_title {
  display: flex;
  margin-bottom: 50px;
  padding-top: 60px;
  border-top: 1px solid #bbbdbf;

  span {
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
  }

  .more {
    margin-left: auto;
  }
}

.authors_info {
  padding: 40px $grid-column * .5 0;
  border: 1px solid #bbbdbf;
  width: 100%;
  margin-top: 25px;
  position: relative;
  display: none;
}

.authors_close {
  position: absolute;
  right: 17px;
  top: 19px;
  cursor: pointer;
}

.author_item {
  margin-bottom: 35px;

  .name {
    font-family: 'Lora';
    margin-bottom: 9px;
  }

  p {
    font-size: 14p;
    line-height: 24px;
    letter-spacing: .25px;
    margin-bottom: 5px;
  }
}

.gallery {
  margin: 40px 0 50px;
  
  &_content {
    margin-left: -($grid-column * .5 + $grid-gap-value);
    width: $grid-column * 4.5 + $grid-gap-value * 5;
    display: flex;
    flex-wrap: wrap;
  }

  &_big {
    display: flex;
  }

  &_small {
    margin-bottom: 50px;
    display: flex;

    &_item {
      width: calc(33.333% - 10px);
      margin-right: 10px;
      margin-bottom: 15px;
      cursor: pointer;
      padding: 0 !important;

      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }

  &_description {
    margin-right: -($grid-column + $grid-gap-value);
    width: $grid-column * 2 + $grid-gap-value;
    margin-left: auto;
    padding-left: $grid-column * .5;

    p {
      font-size: 12px;
      line-height: 18px;
      color: #666666;
      font-family: 'Roboto';

      &:first-child {
        margin-bottom: 20px;
      }

      span {
        color: $color-hover;
      }
    }
  }
}

.article_references {
  margin-bottom: 45px;

  ul {
    list-style: none;
  }

  li {
    padding-left: 30px;
    position: relative;
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;

    &:before {
      display: none !important;
    }

    span {
      position: absolute;
      left: 0;
      top: 0;
      
      b {
        color: $color-hover;
        font-weight: normal;
      }
    }
  }

  a {
    color: inherit;
    text-decoration: underline;
    font-family: 'Roboto';
  }
}

.article_tags {

  .tags_content {
    display: flex;
    flex-wrap: wrap;

    a {
      margin-right: 6px;
      text-transform: uppercase;
      color: $color-main;
      border: 1px solid #bbbdbf;
      font-size: 10px;
      font-weight: bold;
      height: 35px;
      line-height: 35px;
      padding: 0 12px;
      
      &:hover {
        color: $color-hover;
        border: 1px solid $color-hover;
      }
    }
  }
}
// ARTICLE VIEW END
