doctype html
html(lang="en")
  include base/_head
  body
    
    block wrapper
      .wrapper
        .icon.icon__scroll_top
      
        block header
          include base/_header
      
        .container
          block container

        block footer
          include base/_footer

  include base/_scripts
  
