extends ../_layout

block container
  section.section_error.section_indent
    .section_text.ew_7
      .section_text_title
        | Ошибка 404
      p Страница, которую вы ищите, была перемещена, удалена или её не существует. Попробуйте воспользоваться меню сайта или перейдите на главную страницу
    a.button(href="javascript:void(0)") записаться на прием

block footer
