extends ../_layout

block container
  section.editional_board
    .section_wrapper
      .left_content
        .page_navigation.sticky
          ul
            li
              a(href="javascript:void(0)") AFFILIATION
            li
              a(href="javascript:void(0)") BOOKS
            li
              a(href="javascript:void(0)") ARTICLES

      .main_content
        .text_title
          h2 Rui P. Fernandes, MD, DMD, FACS, FRCS
          .author 
            span Professor
                  
        .section_text
          h3 AFFILIATION
          ul
            li Associate Chair, Department of Oral and Maxillofacial Surgery
            li Chief, Division of Head and Neck Surgery
            li Program Director, Head and Neck Oncologic Surgery and Microvascular Fellowship
            li University of Florida College of Medicine–Jacksonville
            li Jacksonville, FL, USA
          h3 BOOKS
          ol
            li Bell RB, Fernandes RP, Andersen PE. Oral, head and neck oncology and reconstructive surgery. 1st ed. St. Louis, MO: Elsevier; 2017.
            li Fernandes RP. Local and regional flaps in head and neck reconstruction: a practical approach. 1st ed. 2014.
          h3 The Journal is Supported by
          ol
            li Ettinger KS, Ganry L, Fernandes RP. Oral cavity cancer. Oral Maxillofac Surg Clin North Am 2019;31(1):13–29. 
              a(href="javascript:void(0)") https://doi.org/10.1016/j.coms.2018.08.002
            li Mendenhall WM, Dagan R, Bryant CM, Fernandes RP. Radiation oncology for head and neck cancer: current standards and future changes. Oral Maxillofac Surg Clin North Am 2019; 31(1):31–8. 
              a(href="javascript:void(0)") https://doi.org/10.1016/j.coms.2018.08.003

