extends ../_layout

block container
  section.editional_board
    .section_wrapper
      .left_content
        .page_navigation.sticky
          ul
            li
              a(href="#editor_1") Editor in Chief
            li
              a(href="#editor_2") Deputy Editors in Chief
            li
              a(href="#editor_3") Section Editors
            li
              a(href="#editor_4") Editorial Board
            li
              a(href="#editor_5") Magazine staff

      .main_content
        .editor_block#editor_1
          span Editor in Chief
          .editor_item
            .editor_info
              .name Tymofieiev OO
            .editor_grade
              p ScD, Prof
              p Ukraine
            a.link(href="javascript:void(0)")
              span.icon.icon__arrow_big

        .editor_block#editor_2
          span Deputy Editors in Chief
          .editor_item
            .editor_info
              .name Fernandes RP
            .editor_grade
              p Prof
              p USA
            a.link(href="javascript:void(0)")
              span.icon.icon__arrow_big
          
          .editor_item
            .editor_info
              .name Savychuk NO
            .editor_grade
              p ScD, Prof
              p Ukraine
            a.link(href="javascript:void(0)")
              span.icon.icon__arrow_big

        .editor_block#editor_3
          span ​Section Editors
          .editor_item
            .editor_info
              .name Naishtetik IM
              .theme Autoimmune Diseases
            .editor_grade  
              p Prof
              p Ukraine
            a.link(href="javascript:void(0)")
              span.icon.icon__arrow_big
          
          .editor_item
            .editor_info
              .name Tymofieiev OO
              .theme Benign Clinical Conditions
            .editor_grade
              p ScD, Prof
              p Ukraine
            a.link(href="javascript:void(0)")
              span.icon.icon__arrow_big
          
          .editor_item
            .editor_info
              .name Richardson S
              .theme Craniofacial Deformities
            .editor_grade  
              p Visit Prof
              p India
            a.link(href="javascript:void(0)")
              span.icon.icon__arrow_big
          
          .editor_item
            .editor_info
              .name Keojampa K
              .theme Craniofacial Deformities
            .editor_grade  
              p -
              p USA
          
          .editor_item
            .editor_info
              .name Keojampa K
              .theme Craniofacial Deformities
            .editor_grade
              p -
              p USA
            a.link(href="javascript:void(0)")
              span.icon.icon__arrow_big
