extends ../_layout

block container
  section.articles
    .section_wrapper.articles_top
      .left_content
        .top_bar
          span Archive
      
      .main_content
        .top_bar
          .issues_sort
            a.active(href="javascript:void(0)")
              | Latest
              em
              | issue
            .issues_drop
              span 
                | All
                em
                | issues
                span.icon.icon__arrow_small
              ul
                li 
                  a(href="javascript:void(0)") All issues
                li 
                  a(href="javascript:void(0)") All issuesssss
                li 
                  a(href="javascript:void(0)") All issues111
          .search
              span
                | Search
                em
                | Articles
              span.icon.icon__search
          .search_block
            .search_close
              span.icon.icon__close
            form
              .search_field
                .form_item
                  label(for="") author name
                  input(type="text" placeholder="Enter author name")
                .form_item
                  label(for="") Issue
                  select(multiple="multiple")
                    -for(i = 1; i < 20; i++)
                      option(value="") #{i}
                .form_item
                  label(for="") Volume
                  select
                    -for(k = 1; k < 10; k++)
                      option(value="") #{k}
                .form_item
                  label(for="") Year
                  select
                    option(value="") 2010
                    option(value="") 2011
                    option(value="") 2012
                    option(value="") 2013
                    option(value="") 2014
                    option(value="") 2015
                    option(value="") 2016
                    option(value="") 2017
                    option(value="") 2018
                    option(value="") 2019
              .search_field
                .search_field_title
                  span Article types
                  a(href="javascript:void(0)") Show more
                .search_field_row
                  .search_item
                    input#type_1(type="checkbox")
                    label(for="type_1")
                      | Review articles
                  .search_item
                    input#type_2(type="checkbox")
                    label(for="type_2")
                      | Review articles
                  .search_item
                    input#type_3(type="checkbox")
                    label(for="type_3")
                      | Review articles
                  .search_item
                    input#type_4(type="checkbox")
                    label(for="type_4")
                      | Review articles
                .search_field_row
                  .search_item
                    input#type_5(type="checkbox")
                    label(for="type_5")
                      | Review articles
                  .search_item
                    input#type_6(type="checkbox")
                    label(for="type_6")
                      | Review articles
                  .search_item
                    input#type_7(type="checkbox")
                    label(for="type_7")
                      | Review articles
                  .search_item
                    input#type_8(type="checkbox")
                    label(for="type_8")
                      | Review articles

              .search_field
                .search_field_title
                  span Article Tags
                  a(href="javascript:void(0)") Show more
                .search_field_row
                  .search_item
                    input#tag_1(type="checkbox")
                    label(for="tag_1") Review articles
                  .search_item
                    input#tag_2(type="checkbox")
                    label(for="tag_2") Review articles
                  .search_item
                    input#tag_3(type="checkbox")
                    label(for="tag_3") Review articles
                  .search_item
                    input#tag_4(type="checkbox")
                    label(for="tag_4") Review articles
                .search_field_row
                  .search_item
                    input#tag_5(type="checkbox")
                    label(for="tag_5") Review articles
                  .search_item
                    input#tag_6(type="checkbox")
                    label(for="tag_6") Review articles
                  .search_item
                    input#tag_7(type="checkbox")
                    label(for="tag_7") Review articles
                  .search_item
                    input#tag_8(type="checkbox")
                    label(for="tag_8") Review articles
              .search_control
                span
                  sup *
                  | All of the fields are optional.
                button.button.button_brown
                  | Search
                  spen.icon.icon__search
    
    .section_wrapper.archive_wrapper
      .left_content
        .year
          span 2018
          p year
      .main_content
        .archive_block
          .archive_item
            .image
              img(src="assets/images/archive_img.jpg", alt="")
            .archive_info
              .date June 2018
              p Volume 2, Issue 4
              a.download(href="javascript:void(0)")
                span.icon.icon__download
                | PDF open access
              a.buy(href="javascript:void(0)")
                span.icon.icon__cart
                | Buy printed edition
          .archive_item
            .image
              img(src="assets/images/archive_img.jpg", alt="")
            .archive_info
              .date June 2018
              p Volume 2, Issue 4
              a.download(href="javascript:void(0)")
                span.icon.icon__download
                | PDF open access
              a.buy(href="javascript:void(0)")
                span.icon.icon__cart
                | Buy printed edition
    
    .section_wrapper.archive_wrapper
      .left_content
        .year
          span 2019
          p year
      .main_content
        .archive_block
          .archive_item
            .image
              img(src="assets/images/archive_img.jpg", alt="")
            .archive_info
              .date June 2019
              p Volume 2, Issue 4
              a.download(href="javascript:void(0)")
                span.icon.icon__download
                | PDF open access
              a.buy(href="javascript:void(0)")
                span.icon.icon__cart
                | Buy printed edition
          .archive_item
            .image
              img(src="assets/images/archive_img.jpg", alt="")
            .archive_info
              .date June 2019
              p Volume 2, Issue 4
              a.download(href="javascript:void(0)")
                span.icon.icon__download
                | PDF open access
              a.buy(href="javascript:void(0)")
                span.icon.icon__cart
                | Buy printed edition
          .archive_item
            .image
              img(src="assets/images/archive_img.jpg", alt="")
            .archive_info
              .date June 2019
              p Volume 2, Issue 4
              a.download(href="javascript:void(0)")
                span.icon.icon__download
                | PDF open access
              a.buy(href="javascript:void(0)")
                span.icon.icon__cart
                | Buy printed edition
