extends ../_layout

block container
  section.submit
    .section_wrapper
      .left_content
        .page_navigation.sticky
          ul
            li
              a(href="javascript:void(0)") Article publication costs
            li
              a(href="javascript:void(0)") Papers for the Publication
            li
              a(href="javascript:void(0)") Article and Abstracts
            li
              a(href="javascript:void(0)") Figures and Tables
            li
              a(href="javascript:void(0)") Fundings
            

      .main_content
        .text_title
          h2 Rules and recommendations for submitting articles to the journal Maxillofacial and Oral Surgeons
                  
        .section_text
          p The team of the Journal of Diagnostics and Treatment of Oral and Maxillofacial Pathology will be with you at all stages of the publication of your work. The main goal of our work to show the world your unique articles, and to make the process of submission, acceptance and publication for you so simple and easy as it can be.
          p.send Send your articles to the managing editor 
            a(href="javascript:void(0)") i.i.fesenko@dtjournal.org
          h3 Article publication costs

          .table_block
            table
              thead
                tr
                  th Tier
                  th Article Type
                  th Article Processing Charge
              tbody
                tr
                  td Tier 1
                  td
                    ul
                      li Original Articles
                      li Experimental
                      li Special Topic
                      li Follow-up Study
                  td US $2195
                tr
                  td Tier 2
                  td
                    ul
                      li Ideas & Innovations
                      li Case Reports
                  td US $799
                tr
                  td Tier 3
                  td
                    ul
                      li Letters to the Editor
                      li Viewpoints
                  td US $549
                tr
                  td Tier 4
                  td
                    ul
                      li Video Articles
                  td US $439
