extends ../_layout

block container
  section.about_page
    .section_wrapper
      .left_content
        .page_navigation.sticky
          ul
            li
              a(href="javascript:void(0)") subscribe and access forms
            li
              a(href="javascript:void(0)") answers to questions

      .main_content
        .tab_content.subscribe
          .tabs
            ul
              li
                a.active(href="#tab-1") subscribe to journal
              li
                a(href="#tab-2") buy online access
              li
                a(href="#tab-3") Buy printed edition
          .tab_item#tab-1
            form
              .form_content
                .form_block.form_block__of_three
                  .form_item
                    label Term
                    select
                      -for(i = 0; i < 17; i++)
                        option(value="") #{i} year (12 issues)
                  .form_item
                    label Price Type
                    select
                      -for(j = 0; j < 7; j++)
                        option(value="") Individual
                  .form_item
                    label Region
                    select
                      -for(k = 0; k < 7; k++)
                        option(value="") #{i} Ukraine
                p.subscribe_info
                  span.icon.icon__done
                  | Full online access for the selected period

              .form_content
                .delivery_address Enter your delivery address
                .delivery_block(style="display:none;")
                  .form_block.form_block__of_three
                    .form_item
                      label Your name
                      input(type="text")
                    .form_item
                      label Your last name
                      input(type="text")
                    .form_item
                      label country
                      input(type="text")

                  .form_block.form_block__of_three.form_block__address
                    .form_item
                      label city
                      input(type="text")
                    .form_item
                      label index
                      input(type="text")
                    .form_item
                      label address
                      input(type="text")

                  .subscribe_panel
              
              .payment_panel
                .payments
                  .payments_item
                    img(src="assets/images/visa.svg", alt="")
                  .payments_item
                    img(src="assets/images/mastercard.svg", alt="")
                  span Payment by bank card VISA / MasterCard
                .payment_price
                  p $ 1000
                  button.button.button_brown  SUBSCRIBE

          .tab_item#tab-2(style="display:none;")
            form
              .form_submit
                .buy_item
                  .buy_item_info
                    .buy_article
                      a(href="javascript:void(0)").delete
                        .span.icon.icon__close
                      .buy_article_image(style="background-image:url(./assets/images/issues/1.jpg)")
                      .buy_article_info
                        span Vol. 2, Issue 4, Pages 43–50
                        p Multilocular Type of Mandibular Simple Bone Cyst. Part 1: Cone Beam Computed Tomography (CBCT) Findings, Revision of the Synonyms and Treatment Strategies

                  .buy_item_access
                    p Open access forever
                  .buy_item_price
                    | $ 10
                  .buy_item_button
                    button.button.button_brown.disabled
                      | Buy
                
                .buy_item
                  .buy_item_info
                    .buy_item_title
                      | One article
                    p 
                      | Что бы выбрать, нажмини на “Buy access” при просомтре статьи в разделе сайта
                      a(href="javascript:void(0)") Articles & Issues
                  .buy_item_access
                    p Open access forever
                  .buy_item_price
                    | $ 10
                  .buy_item_button
                    button.button.button_brown.disabled
                      | Buy
                
                .buy_item
                  .buy_item_info
                    .buy_item_title
                      | All articles
                    p 
                      | Вы получите доступ ко всем статьям и журналам сайта за выбранный период
                      a(href="javascript:void(0)") Articles & Issues
                  .buy_item_access
                    select
                      -for(i = 0; i < 5; i++)
                        option #{i + 1} year
                  .buy_item_price
                    | $ 500
                  .buy_item_button
                    button.button.button_brown
                      | Buy
              
              .payment_panel
                .payments
                  .payments_item
                    img(src="assets/images/visa.svg", alt="")
                  .payments_item
                    img(src="assets/images/mastercard.svg", alt="")
                  span Payment by bank card VISA / MasterCard

          .tab_item#tab-3(style="display:none;")
            form
              .editions
                select
                  option(value="") Volume 1, Issue 1 (June 2018)
                  option(value="") Volume 2, Issue 2 (December 2018)
                  option(value="") Volume 1, Issue 1 (January 2017)
                  option(value="") Volume 2, Issue 2 (April 2017)
                  option(value="") Volume 3, Issue 3 (December 2017)
                  option(value="") Volume 4, Issue 4 (June 2017)
                .editions_content
                  .editions_item
                    a.delete(href="javascript:void(0)")
                      span.icon.icon__close
                    .image
                      img(src="assets/images/journal.jpg", alt="")
                    .editions_info
                      span June 2018
                      p
                        | Volume 1
                        br
                        | Issue 1
                  .editions_item
                    a.delete(href="javascript:void(0)")
                      span.icon.icon__close
                    .image
                      img(src="assets/images/journal.jpg", alt="")
                    .editions_info
                      span June 2018
                      p
                        | Volume 1
                        br
                        | Issue 1
                  .editions_item
                    a.delete(href="javascript:void(0)")
                      span.icon.icon__close
                    .image
                      img(src="assets/images/journal.jpg", alt="")
                    .editions_info
                      span June 2018
                      p
                        | Volume 1
                        br
                        | Issue 1
                  .editions_item
                    a.delete(href="javascript:void(0)")
                      span.icon.icon__close
                    .image
                      img(src="assets/images/journal.jpg", alt="")
                    .editions_info
                      span June 2018
                      p
                        | Volume 1
                        br
                        | Issue 1
                  .editions_item
                    a.delete(href="javascript:void(0)")
                      span.icon.icon__close
                    .image
                      img(src="assets/images/journal.jpg", alt="")
                    .editions_info
                      span June 2018
                      p
                        | Volume 1
                        br
                        | Issue 1
              
              .form_content
                .delivery_address Enter your delivery address
                .delivery_block(style="display:none;")
                  .form_block.form_block__of_three
                    .form_item
                      label Your name
                      input(type="text")
                    .form_item
                      label Your last name
                      input(type="text")
                    .form_item
                      label country
                      input(type="text")

                  .form_block.form_block__of_three.form_block__address
                    .form_item
                      label city
                      input(type="text")
                    .form_item
                      label index
                      input(type="text")
                    .form_item
                      label address
                      input(type="text")

                  .subscribe_panel
                
              .payment_panel
                .payments
                  .payments_item
                    img(src="assets/images/visa.svg", alt="")
                  .payments_item
                    img(src="assets/images/mastercard.svg", alt="")
                  span Payment by bank card VISA / MasterCard
                .payment_price
                  p $ 150
                  button.button.button_brown  Buy

        .section_text
          h3 Как быстро вы пришлете журнал?
          p This quarterly Journal of Diagnostics and Treatment of Oral and Maxillofacial Pathology goals to publish the cutting-edge and peer-reviewed articles on work in oral and maxillofacial surgery and neighboring specialties. The journal includes the following topics: implants surgery, head and neck imaging, microvascular and reconstructive surgery, oral and maxillofacial pathology, head and neck surgery/oncology, TMJ lesions/disorders, head and neck trauma, plastic surgery, pharmacology/drugs.

          h3 Как я могу подписаться на ваш журнал?
          p This is an open access journal under the CC BY licence http://creativecommons.org/licenses/by-nc/4.0/. The publication fee (January-March 2018) in amount $150 per article helps to support open access policy. The price will stilling the same for the group of authors as it was at moment of article sending for a Review process.
