.articles_top {
  padding-top: 68px;

  .left_content {
    display: none;
  }
}

.articles {

  .section_wrapper {

    .left_content {
      padding: 0 0 49px;
      margin-bottom: 52px;
      border-bottom: 1px solid #bbbdbf;
      position: relative;
    }
  }
}

.journals {

  &_item {
    padding-left: 120px;

    .image {
      width: 100px;

      img {
        max-width: 100%;
      }
    }

    .button {
      margin-top: 13px;
    }
  }

  &_arrows {
    left: 120px;
  }
}

.issues {

  &_sort {
    margin-right: auto;

    em {
      display: block;
      font-size: 0;
      line-height: 0;
      padding: 0;
    }

    a {
      display: inline-block;
      vertical-align: top;

      &:hover,
      &.active {
        color: $color-hover;
      }
    }
  }

  &_drop {
    margin-left: 40px;

    span {

      .icon {
        padding-left: 8px;
      }
    }
    
    ul {
      display: none;

      li {
        list-style: none;
      }
    }
  }
}

.search {
  cursor: pointer;

  em {
    display: block;
    font-size: 0;
    line-height: 0;
    padding: 0;
  }
}

.article {

  &_item {
    flex-wrap: wrap;

    .photo {
      width: 100%;
      height: 235px;
      margin-right: 0;
      margin-bottom: 24px;
    }
  }

  &_description {
    width: 100%;
    margin-right: 0;
  }
  
  &_info {
    margin-top: 11px;
    width: 100%;
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;

    p {

      &:nth-child(1) {
        order: 1
      }

      &:nth-child(2) {
        order: 3;
      }
    }

    .access {
      order: 2;
    }

    .download {
      order: 4;
    }
    
    > * {
      width: 49%;
      margin-right: 0;
    }
  }
}

// SEARCH FORM

.search_block {
  padding-right: $grid-column * .7;
  padding-left: $grid-column * .7;
}

.search_field {

  .form_item {
    width: 100%;
    margin: 0 0 29px;

    .select2-container {
      max-width: 100%;
      min-width: 100%;
    }

    input {
      width: 100%;
    }
  }

  &_row {
    flex-wrap: wrap;
  }
}

.search_control {
  flex-wrap: wrap;

  span {
    width: 100%;
  }

  .button {
    margin-top: 30px;
  }
}

.search_item {
  width: 100%;
  margin-bottom: 20px;
  
  &:nth-child(4) {
    display: none;
  }
}
// SEARCH FORM END

// ARCHIVE 
.articles .archive {

  &_wrapper {
    margin-bottom: 0;

    .left_content {
      border: none;
      margin-bottom: 19px;
      padding-bottom: 0;
    }
  }

  &_item {
    width: 100%;
    margin-right: 0;
    margin-bottom: 80px;

    &:nth-child(4n),
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}
// ARCHIVE END

// ARTICLE VIEW

.articles {

  .article_view {
    padding-top: 93px;
  
    .left_content {
      padding-bottom: 27px;
    }
  }

  .recent_articles {
    
    .left_content {
      display: none;
    } 
  }
}

.text_title {

  h2 {
    font-size: 21px;
    line-height: 31px;
  }

  .author {
  
    span {
      display: inline;
      margin: 0;
      padding-right: 9px;
    }
  }
}
 
.volume {

  &_slider {
    padding-left: 0;
  }

  &_item {
    display: flex !important;
    flex-wrap: wrap;

    > * {
      width: calc(50% - 10px);
      margin: 0 20px 0 0;
    }

    p:nth-of-type(2) {
      order: 3;
    }

    .access {
      display: inline-flex;
      order: 2;
    }

    .download {
      order: 4;
    }

    a {
      margin-right: 0;
    }
  }

  &_arrows {
    top: -43px;
    width: auto;
  }
}

.authors_info {
  padding: 40px $grid-column * .5 0;
}

.section_text {
  padding-right: 0;

  .accent {
    padding: 30px $grid-column * .5 30px;
    width: 100%;
  }
}


.gallery {
  

  &_small {
    flex-wrap: wrap;

    &_item {
      width: 100%;
      margin-right: 0 !important;
    }
  }

  &_description {
    margin: 35px 0 0;
    width: 100%;
    padding-left: 0;
  }
}
// ARTICLE VIEW END